<div id="myModal<%= "#{assignment.id}" %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <%= form_for(assignment) do |f| %>
  <!-- call date time on the text field class not on the span -->
  <div class="modal-body">
    <span class="field-label">
      <%= f.label :active_at, "Start Date:" %>
    </span>
    <div class="input-prepend">
        <%= f.text_field :active_at, class: 'date_stuff' %>
    </div>
    <span class="field-label">
      <%= f.label :due_at, "Due Date:" %>
    </span>
    <div class="input-prepend">
      <%= f.text_field :due_at, class: 'date_stuff' %>
    </div>
  </div>
  <div class="modal-footer">
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal">Close</a>
      <%= f.submit "Save Dates", class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>
